<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <typeAliases>
        <typeAlias alias="FileItem" type="com.fankux.entity.FileItem"/>
        <typeAlias alias="PathItem" type="com.fankux.entity.PathItem"/>
    </typeAliases>
</configuration>